:root {
    --light: #ffffff;
    --dark: #1c1b1bf4;
}

@media (prefers-color-scheme: light) {
    :root {
        --text-color: var(--dark);
        --bg-color: var(--light);
        --link-color: #0a85ba;
        --link-visited-color: #39383c;
        --code-color: #ee795f;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color: var(--light);
        --bg-color: var(--dark);
        --link-color: #7bffa9;
        --link-visited-color: #f8e1c2;
        --code-color: #f6cfc5;
    }
}

html {
    font-family: "IBM 3270";
    font-variant-ligatures: discretionary-ligatures;
    font-size: 1.5em;
    word-break: keep-all;

    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    height: 100%;

    color: var(--text-color);
    background-color: var(--bg-color);
}

body {
    width: min(max(400px, 75vw), 900px);
    height: 100%;
    margin: auto;
    padding: 0 10vw;
    display: flex;
    flex-direction: column;
}

@media (max-width: 800px) {
    ul li span {
        display: none;
    }

    body {
        padding: 0 4vw;
    }
}

main {
    margin-bottom: auto;
}
footer {
    margin: 0 auto;
}

hr {
    margin: 0;
    align-self: stretch;
}


img,
video {
    max-inline-size: 100%;
    max-block-size: 100%;
    max-width: 100%;
    object-fit: contain;
    background: var(--bg-color);
}

img {
    display: block;
    margin: 1.5em auto;
}

ul {
    padding: 0;
    list-style-position: inside;
    display: flex;
    flex-direction: column;
}


/* https://searchfox.org/mozilla-central/source/layout/style/res/html.css#172-173 */
nav {
    font-weight: bold;
    font-size: 1.5em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
}

h1 {
    margin-block-end: 0.25em;
}

code {
    font-family: inherit;
    color: var(--code-color);
}

a {
    color: var(--link-color);
    text-decoration-thickness: 0.075em;
    text-decoration-line: underline;
}

a:visited {
    color: var(--link-visited-color);
}

a:hover code {
    color: var(--bg-color);
    background-color: var(--code-color);
}

a:has(code) {
    text-decoration-color: var(--code-color);
}

a:hover:has(code) {
    text-decoration-color: var(--bg-color);
}


/* selection before */
a:hover:not(:has(img)),
nav h1:hover a {
    color: var(--bg-color);
    background-color: var(--link-color);
}

/* selection after */
nav a:hover~a {
    color: var(--link-color);
    background-color: var(--bg-color);
}

a:visited:not(:has(img)) {
    color: var(--link-visited-color);
}

a:visited:hover:not(:has(img)),
nav h1:hover>a:visited {
    color: var(--bg-color);
    background-color: var(--link-visited-color);
}

nav a:hover~a:visited {
    color: var(--link-visited-color);
    background-color: var(--bg-color);
}
