@layer link, base;

a[href]:not([data-no-icon]) {
	padding-left: 1.15em;
	background-image: var(--icon);
	background-repeat: no-repeat;
	background-size: 1em;
	background-position-y: 70%;
}

@layer link {
	a[href] {
		--icon: url("/assets/icons/github-file-symlink-file.svg");
	}
}

@layer base {
	a[href^="https://"] {
		--icon: url("/assets/icons/github-link.svg");
	}
}

a[href^="mailto:"] {
	--icon: url("/assets/icons/github-mail.svg");
}

a[href^="https://github.com"] {
	--icon: url("/assets/icons/github-logo.svg");

	&[href*="/pull/"] {
		--icon: url("/assets/icons/github-pr.svg");
	}

	&[href*="/issues/"] {
		--icon: url("/assets/icons/github-issue.svg");
	}
}
